@charset "UTF-8";
.header {
  background-color: #f4483e;
}
.header .logo {
  padding: 0;
}
.header .logo a {
  display: block;
  color: white;
  height: 100%;
  font-size: 0.6rem;
  line-height: 1rem;
  padding-left: 0.2rem;
}
.header .title {
  position: absolute;
  font-size: 0.4rem;
  color: white;
  font-weight: 700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  height: 100%;
  width: 0.8rem;
  position: absolute;
  font-size: 0.4rem;
  color: #666;
  top: 0;
  right: 0;
  background-color: #eee;
}
.icon span {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.box {
  position: relative;
}
.box #wrapper {
  overflow: hidden;
  margin-bottom: 0.04rem;
  margin-right: 0.8rem;
}
.box #wrapper a {
  display: block;
  font-size: 0.32rem;
  color: black;
  padding: 0.2rem 0;
}
.box #wrapper li.active a {
  border-bottom: 0.06rem solid #ff0000;
  color: red;
}
.box #wrapper li {
  float: left;
  padding: 0 0.3rem;
}
.list li {
  border-top: 5px solid #eee;
}
.list .title {
  margin-bottom: 0.4rem;
}
.list a {
  display: block;
  padding: 0.3rem 0.2rem;
}
.list .img img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.2rem;
}
.list .content {
  height: 100%;
  overflow: hidden;
  font-size: 0.32rem;
  color: black;
}
.list .money {
  margin-bottom: 0.4rem;
  color: #fc353a;
  font-size: 0.44rem;
}
.list .money em {
  font-size: 0.24rem;
}
.list .money i {
  font-size: 0.32rem;
}
.list .money del {
  font-size: 0.24rem;
  text-decoration: line-through;
  color: #999;
  margin-left: 0.2rem;
}
.list .zhang {
  margin-bottom: 0.3rem;
}
.list .far {
  font-size: 0.24rem;
  height: 0.32rem;
  width: 1.6rem;
  line-height: 0.32rem;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: red;
  border-radius: 0.16rem;
  position: relative;
  border: 1px solid red;
  box-sizing: content-box;
  margin-right: 0.2rem;
}
.list .far .son {
  width: 1.42rem;
  background-color: pink;
  border-radius: 0 0.14rem 0.14rem 0;
  position: absolute;
  right: 0;
  top: 0;
}
.list .text {
  color: red;
  font-size: 0.24rem;
}
.list .link {
  font-size: 0.24rem;
}
.list .link span:nth-child(1) {
  color: #e4393c;
  border: 1px dotted #e4393c;
  padding: 0.1rem;
}
.list .link span:nth-child(2) {
  color: white;
  background-color: #ff5e5d;
  padding: 0.1rem;
  border-radius: 0.1rem;
}
