@charset "UTF-8";
.header .logo {
  padding: 0;
}
.header .logo a {
  display: block;
  color: white;
  height: 100%;
  font-size: 0.6rem;
  line-height: 1rem;
  padding-left: 0.2rem;
}
.header .title {
  position: absolute;
  font-size: 0.4rem;
  color: white;
  font-weight: 700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.list li {
  border-bottom: 1px solid #ccc;
  padding: 0.2rem 0.2rem;
}
.list a {
  height: 2rem;
}
.list img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}
.list .content {
  height: 100%;
  overflow: hidden;
  font-size: 0.32rem;
  color: black;
  position: relative;
}
.list .content > p span {
  color: #ff6c00;
}
.list .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.24rem;
  color: #666;
}
.page {
  margin-top: 0.2rem;
  font-size: 0.32rem;
}
.page li {
  float: left;
  text-align: center;
  width: 33.33%;
}
.page li span {
  margin: 0 auto;
  width: 1.6rem;
  display: block;
  padding: 0.1rem;
  background-color: #ddd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.page .page-item {
  position: relative;
}
.page .page-item .page-default {
  margin: 0 auto;
  width: 1.6rem;
  padding: 0.1rem;
  border: 1px solid #ccc;
}
.page .icon {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 0px;
  height: 0px;
  padding: 0;
  background-color: #fff;
  box-shadow: none;
  border-top: 0.1rem solid #0000ff;
  border-bottom: 0.1rem solid transparent;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
}
.page .page-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.6rem;
  border: 1px solid #ccc;
  background-color: #fff;
}
.page .page-list div:hover {
  background-color: skyblue;
}
.page .page-list.active {
  display: none;
}
.page .prev.now span,
.page .next.now span {
  background-color: #eee;
  color: #999;
}
