<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <!--<link rel="stylesheet" href="lib/mui/css/mui.css">-->
  <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/moneyctrl.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="logo fl">
      <a href="index.html"><</a>
    </div>
    <div class="app fr">
      <img src="images/header_app.png" alt="">
    </div>
    <p class="title">省钱控 - 最新优惠</p>
  </div>
  <div class="main">
    <div class="list">
      <ul>
        <!--<li>-->
          <!--<a href="javascript:;" class="clearfix" style="display: block">-->
            <!--<div class="img fl">-->
              <!--<img src="http://pro.zuyushop.com:8015/ProPic/20166/Thumb/Thumb_2016060015515937123.png" alt="">-->
            <!--</div>-->
            <!--<div class="content">-->
              <!--<p>哈哈哈哈哈啊哈哈哈哈哈哈哈啊哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈 <span>哈哈</span></p>-->
              <!--<div class="bottom">-->
                <!--<span>京东商城 | 10-25 14:10</span>-->
                <!--<span class="fr fa fa-commenting-o"> 3</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->

      </ul>
    </div>
    <ul class="page clearfix">
      <!--<li class="prev"><span>上一页</span></li>-->
      <!--<li class="page-item">-->
        <!--<div class="page-default">-->
          <!--1/3-->
          <!--<span class="icon"></span>-->
        <!--</div>-->
        <!--<div class="page-list active">-->
          <!--<div>1/3</div>-->
          <!--<div>2/3</div>-->
          <!--<div>3/3</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="next"><span>下一页</span></li>-->
    </ul>
    <div class="footer">
      <ul class="clearfix">
        <li>
          <a href="javascript:;">登录</a>
        </li>
        <li>
          <a href="javascript:;">注册</a>
        </li>
        <li>
          <a href="javascript:;"><img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">回到顶部</a>
        </li>
      </ul>
      <p style="text-align: center" class="app">
        <a href="javascript:;" style="color: Red;">手机APP下载</a>
        <a href="index.html" style="color: #333;">慢慢买手机版</a> -- 掌上比价平台
      </p>
      <p class="link">m.manmanbuy.com</p>
    </div>
  </div>


</div>
<script type="text/html" id="tpl2">
  {{each result v i}}
  <li>
    <a href="moneyProduct.html?productid={{v.productId}}" class="clearfix" style="display: block">
      <div class="img fl">
        <!--<img src="http://pro.zuyushop.com:8015/ProPic/20166/Thumb/Thumb_2016060015515937123.png" alt="">-->
      {{#v.productImgSm}}
      </div>
      <div class="content">
        <p>{{v.productName}} <span>{{v.productPinkage}}</span></p>
        <div class="bottom">
          <span>{{v.productFrom}} | {{v.productTime}}</span>
          <span class="fr fa fa-commenting-o"> {{v.productComCount.slice(1,2)}}</span>
        </div>
      </div>
    </a>
  </li>
  {{/each}}
</script>
<script type="text/html" id="tpl3">
  <li class="prev {{page<=1?'now':''}}" data-page="{{page<=1?1:page-1}}"><span>上一页</span></li>
  <li class="page-item">
    <div class="page-default">
      <p>{{page}}/{{count}}</p>
      <span class="icon"></span>
    </div>

    <div class="page-list active">
      <% for(var i = 0; i < count; i++){ %>
      <div data-page="{{i+1}}">{{i+1}}/<%=count %></div>

      <% } %>
    </div>
  </li>
  <li class="next {{page>=count?'now':''}}" data-page="{{page>=count?count:page+1}}"><span>下一页</span></li>
</script>
</body>
</html>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<!--<script src="lib/mui/js/mui.js"></script>-->
<script src="js/common.js"></script>
<script src="js/moneyctrl.js"></script>
